table {
  width: auto;
  margin: 10px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: none;
}
th.mat-header-cell {
   text-align: left;
   border-bottom-style: solid;
 }

.mat-header-cell {
  color: rgba(0, 0, 0, 0.87);
}

.strikeThrough {
  text-decoration: line-through;
  color: gray;
}

